.counter {
    border: solid 1px;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
    background-color: #333;
}


.show-counter {
    color: aqua;
    border: solid 1px aqua;
    width: 280px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    background-color: #333;
    font-size: 70px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border: solid 1px aqua;
    border-radius: 5px;
    width: 280px;
    height: 50px;
    margin: 20px auto 0;
    align-items: center;
}

.btn {
    border: solid 1px;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    background-color: aqua;
    font-weight: bold;
}

.disabled .btn{
    background-color: #333;
    color: aqua;
}

.set-style {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px aqua;
    border-radius: 5px;
    height: 100px;
    width: 280px;
    margin: 10px;

}


.set-style input {
    height: 30px;
    width: 120px;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    background-color: aqua;
    font-weight: bold;
    margin-right: 40px;
}

.nameValue {
    color: aqua;
}


.error {
    color: red;
}